<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 일반게시판 쿼리 Mapper -->

<!-- 작성일 : 2022-07-21 -->

<mapper namespace="com.webjjang.board.mapper.BoardMapper">
 <!-- 게시판 리스트 : select -->
 	<select id="list" resultType="com.webjjang.board.vo.BoardVO">
 	select * from (
	 	select rownum rnum, no, title, writer, writerDate, hit 
	 		from (
		 		select no, title, writer, writerDate, hit 
		 		from board 
		 		order by no desc
		 	)
	)
	where rnum between #{startRow} and #{endRow}
 	</select>
</mapper>